<div id="<%= dom_id notification_table %>">
  <p>
    <strong>Event:</strong>
    <%= notification_table.event %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= notification_table.message %>
  </p>

</div>
