<h1>Editing feedback table</h1>

<%= render "form", feedback_table: @feedback_table %>

<br>

<div>
  <%= link_to "Show this feedback table", @feedback_table %> |
  <%= link_to "Back to feedback tables", feedback_tables_path %>
</div>
