<h1>Editing users vote</h1>

<%= render "form", users_vote: @users_vote %>

<br>

<div>
  <%= link_to "Show this users vote", @users_vote %> |
  <%= link_to "Back to users votes", users_votes_path %>
</div>
