<h1>Editing voting event</h1>

<%= render "form", voting_event: @voting_event %>

<br>

<div>
  <%= link_to "Show this voting event", @voting_event %> |
  <%= link_to "Back to voting events", voting_events_path %>
</div>
