<div id="<%= dom_id events_option %>">
  <p>
    <strong>Options:</strong>
    <%= events_option.options %>
  </p>

  <p>
    <strong>Eventname:</strong>
    <%= events_option.eventName %>
  </p>

</div>
